<div class="kittenCard">
  <img class="kittenCard-avatar" src={{kitten.image}} alt={{kitten.name}}>
  <h3 class="kittenCard-title">
    <strong>{{kitten.name}}</strong>
    <pre title={{lastDirection}}>{{isInViewport}} {{lastDirection}}</pre>
    </h3>
</div>
