<nav>
  Direction:
  {{link-to "both" (query-params direction="both")}}
  {{link-to "enter" (query-params direction="enter")}}
  {{link-to "exit" (query-params direction="exit")}}
</nav>
{{#if (eq this.direction "both")}}
  <ul>
    {{#each this.models as |artwork i|}}
      <li
        class="infinity-item infinity-item-{{i}}"
      >
        {{dummy-artwork artwork=artwork artworkProfile="dummy"}}
      </li>
    {{/each}}
    <div class="sentinel" {{in-viewport onEnter=(action "didEnterViewport" artwork i) onExit=(action "didExitViewport")}}></div>
  </ul>
{{else if (eq this.direction "enter")}}
  <ul>
    {{#each this.models as |artwork|}}
      <li>
        {{dummy-artwork artwork=artwork artworkProfile="dummy"}}
      </li>
    {{/each}}
    <div class="sentinel" {{in-viewport onEnter=(action "didEnterViewport" artwork i)}}></div>
  </ul>
{{else if (eq this.direction "exit")}}
  <ul>
    {{#each this.models as |artwork|}}
      <li>
        {{dummy-artwork artwork=artwork artworkProfile="dummy"}}
      </li>
    {{/each}}
    <div class="sentinel" {{in-viewport onExit=(action "didExitViewport")}}></div>
  </ul>
{{/if}}
